body {
  background-color: #f8f8f8;
}

.nav-bg {
  background-image: url("./images/bookbg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;
  box-shadow: 0px 2px 8px rgb(155, 155, 155);
}

.nav-div {
  height: 30vh;
}
