@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

.register-button {
  font-family: Spartan;
  background-color: green;
  border: 2px solid rgb(115, 150, 115);
  color: whitesmoke;
}

.register-form {
  margin: 0 auto !important;
  /* width: 250px; */
  padding: 0px !important;
  margin-top: 10vh !important;
  border: 2px solid rgb(197, 195, 195);
  padding: 20px !important;
  border-radius: 8px;
}

.register-container h4 {
  font-family: Spartan;
  color: #363636;
}
