@import url("https://fonts.googleapis.com/css?family=Caladea&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

.delete-icon {
  font-size: 1.5em;
  align-items: center;
  cursor: pointer;
  color: gray;
}
.hear-icon-fav {
  font-size: 1.1em;
  color: rgb(236, 86, 86);
}

.favorite-header {
  font-family: caladea;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.book-favorites-container h5 {
  font-family: caladea;
  text-align: center;
  margin-top: 5px;
}

.book-favorites-container h6 {
  font-family: caladea;
  text-align: center;
}
