@import url("https://fonts.googleapis.com/css?family=Caladea&display=swap");
.search-box {
  margin-top: 40vh;
  align-items: center;
  font-family: "Caladea";
  margin-left: 250px;
}

.search-button {
  background-color: purple;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.616);
  padding: 13px;
  color: plum;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  margin-top: -6px;
  border-bottom: solid 3px #c5c3c3;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.6s;
}
