@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
.search-box {
  margin-top: 15vh;
  align-items: center;
}

.search-label {
  font-family: "Spartan";
  font-size: 25px;
}

.search-button {
  background-color: black;
  box-shadow: 0px 2px 4px rgba(121, 121, 121, 0.616);
  padding: 13px;
  color: white;
  font-weight: 600;

  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  margin-top: -6px;
  border: none;
  width: 150px;
  letter-spacing: 1.5px;

  font-family: "Spartan";
}

.search-button:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.616);
}

.input-row input {
  margin: 3px;
  background-color: white;
}

input[type="text"] {
  background: #f1f1f1;
}
