.login-nav {
  height: 20vh;
  background-color: whitesmoke;
}

.logo {
  font-size: 50px;
  font-family: Spartan;
  margin-top: 2px;
  color: #363636;
}

.logo-description {
  font-family: Spartan;
  color: #363636;
  margin-left: 20px;
}

.login-link,
.register-link {
  font-family: Spartan;
  color: #363636;
}
