@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

.search-box {
  margin-top: 6vh;
  align-items: center;
}

.bookQuote {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  color: #757474;
  font-family: Spartan;

  padding: 10px;
}

.search-label {
  font-family: "Spartan";
  font-size: 25px;
  letter-spacing: 0px;
}

.search-button {
  border: 2px solid #ff0a87;
  box-shadow: 0px 2px 4px rgba(121, 121, 121, 0.616);
  background-color: inherit;
  font-weight: 600;
  border-radius: 20px;
  font-size: 14px;

  vertical-align: middle;

  font-family: "Spartan";
}

.fa-search {
  font-size: 1.2em;
  color: #ff0a87;
  padding: 5px;
  text-align: left;
}

.search-button:hover {
  background-color: #ff0a8960;
  transition: 0.5s;
}

.input-row input {
  background-color: white;
}

input[type="text"] {
  background: #f1f1f1;
}

@media only screen and (max-width: 600px) {
  .search-label {
    font-family: "Spartan";
    font-size: 18px;
  }

  .search-button {
    margin-top: 5px;
    margin: auto;
  }
  .bookQuote {
    font-size: 13px;
  }
}
