.search-icon {
  display: flex;
  background-color: inherit;
  align-items: center;
  border: none;
  cursor: pointer;
}

.fa-search {
  color: #ff9163;
}
.book-input {
  background-color: white !important;
  position: absolute;

  font-family: Montaga;
  font-size: 14px;
}

.form-control:focus {
  border-color: rgba(128, 128, 128, 0.397);
  -webkit-box-shadow: none;
  box-shadow: none;
}
