@import url("https://fonts.googleapis.com/css?family=Caladea&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

.book-in-db {
  font-family: "Spartan";
  color: #363636;
  text-align: center;
  font-size: 14px;
}
.book-card-container h6 {
  font-family: "Spartan";
  font-size: 14px;
  color: #363636;
}
.hide {
  display: none;
}

.show {
  display: block;
}
.book-card-container h5 {
  font-weight: 900;
  font-family: "Spartan";
  font-size: 16px;
  color: #363636;
  text-align: center;
  letter-spacing: 0;
  margin-top: 5px;
}
.sub-title {
  text-align: center;
  font-family: "Spartan";
}
.book-cover {
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgb(105, 105, 105);
}

.book-card-container {
  margin-top: 15px;
  margin-right: 25px;
  justify-content: space-evenly;
}

.book-card {
  padding: 10px;
  margin: 10px 40px;
  border: 1px solid #adadad9f;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 5px rgba(5, 5, 5, 0.383);
}

.fa-heart {
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.modal-body-bookCard {
  font-family: "Caladea";
  font-size: 14px !important;
  letter-spacing: 0.5px;
  padding: 20px;
}

.modal-header-bookCard {
  padding: 5px !important;
}
